.app-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 90vh;
  width: 100vw;
  /* background-color: #282c34; */
}

.blur {
  filter: blur(50px);
}